body,
html {
  margin: 0;
  /* height: 100%; */
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3e3c3c;
  background: #d197ff;
  background: radial-gradient(
    circle at bottom right,
    #ff598d 0%,
    #d197ff 33%,
    #ffafe6 67%,
    #fff7ba 100%
  );
  background: linear-gradient(
    275deg,
    #ff598d 0%,
    #d197ff 33%,
    #ffafe6 67%,
    #fff7ba 100%
  );
}

button.btnRound {
  border: none;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: #fff7ba;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  position: relative;
  z-index: 2;
  top: 130px;
  left: 475px;
  font-size: 2em;
  cursor: pointer;
  transition: ease;
}

button.btnRound:hover {
  background-color: #f8f09a;
  background-color: #fdf194;
  top: 129px;
  left: 476px;
}

table {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  margin-bottom: 100px;
  width: 500px;
  max-width: 500px;
  transition: ease;
}

table * {
  padding: 10px;
  transition: ease;
}

tbody img {
  width: 80px;
}

thead tr th:first-of-type {
  border-radius: 10px 0px 0px 0px;
}

thead tr th:last-of-type {
  border-radius: 0px 10px 0px 0px;
}

thead {
  background-color: #ffafe6;
  text-align: left;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

tbody td {
  position: relative;
  word-break: break-word;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: -1;
}
